{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{> topbar}}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{#post}}

            <h1 class="post-title">{{{title}}}</h1>

            <section class="post-content">
                {{content}}
            </section>

        {{/post}}

    </article>

		<h3>Related Posts</h3>

		{{#related_posts}}
			{{header_image}}
			<br /><span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags prefix="on "}}</span>
			<br /><a href="{{url}}">{{{title}}}</a>
			<p>{{excerpt}}</p>
		{{/related_posts}}
</main>
